.link {
  color: white;
  font-size: 1.3em;
}
.nav-link {
  font-family: "Mouse Memoirs";
}
.link:hover {
  color: #fffdeb;
}
.nav {
  display: flex;
  justify-content: flex-start;
}
.nav-wrapper {
  background-color: teal;
}
.scrolled {
  position: sticky;
  top: 0;
  left: 0;
  background-color: teal;
}
@media only screen and (max-width: 600px) {
  .nav-wrapper {
    height: 3em;
  }
  .nav-link {
    display: none;
  }
}
